<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>学生信息</title>
    <meta name="description" content="学生信息">
    <meta name="keywords" content="学生信息">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/../plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/../css/style.css}">
</head>

<body class="hold-transition">
<div id="app">
    <div class="content-header common-search-border1">
        <el-button class="butAdd" @click="handleCreate"><i class="el-icon-plus" aria-hidden="true"></i> 新增学生信息
        </el-button>
    </div>
    <div class="app-container">
        <div class="box common-search-border2">
            <div class="filter-container">
                <!-- 搜索栏 -->

                <el-form :inline="true" :model="student0" ref="student0" class="formInfo" label-width="70px">
                    <el-form-item label="学号" label-width="40px" prop="stuId">
                        <el-input placeholder="请输入" v-model="student0.stuId" style="width: 200px;"
                                  class="filter-item"></el-input>
                    </el-form-item>

                    <el-form-item label="姓名" label-width="40px" prop="stuName">
                        <el-input placeholder="请输入" v-model="student0.stuName" style="width: 200px;"
                                  class="filter-item"></el-input>
                    </el-form-item>

                    <el-form-item label="班级" label-width="40px" prop="stuClass">
                        <el-input placeholder="请输入" v-model="student0.stuClass" style="width: 200px;"
                                  class="filter-item"></el-input>
                    </el-form-item>

                    <el-form-item label="性别" label-width="40px" prop="stuSex">
                        <el-select placeholder="请选择" v-model="student0.stuSex">
                            <el-option :key="item.value" :label="item.value" :value="item.value"
                                       v-for="item in baseData.sex"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item>
                        <el-button @click="handleRest">清除</el-button>
                        <el-button type="primary" class="butOK" @click="findByLike()">搜索</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>

        <div class="box common-table-border" style="margin:8px 0 0;">
            <div class="box common-table-border" style="margin:8px 0 0;">

                <template >
                    <el-table
                            :data="students.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                            style="width: 100%">

                        <el-table-column
                                width="100"
                                prop="stuId"
                                label="学号">
                        </el-table-column>
                        <el-table-column
                                width="100"
                                prop="stuName"
                                label="姓名">
                        </el-table-column>
                        <el-table-column
                                width="100"
                                prop="stuSex"
                                label="性别">
                        </el-table-column>
                        <el-table-column
                                width="100"
                                prop="stuClass"
                                label="班级">
                        </el-table-column>

                        <el-table-column
                                width="200"
                                prop="major.name"
                                label="专业">
                        </el-table-column>

                        <el-table-column width="300">
                            <template slot-scope="scope">
                                <el-button type="primary" round @click="">查看详情</el-button>
                                <el-button type="primary" round @click="handleCreate0(scope.row)">奖罚</el-button>
                            </template>
                        </el-table-column>


                    </el-table>
                    <!-- 分页器 -->
                    <div class="block" style="margin-top:15px;">
                        <el-pagination align='center' @size-change="handleSizeChange"
                                       @current-change="handleCurrentChange"
                                       :current-page="currentPage"
                                       :page-sizes="[1,5,10,20]"
                                       :page-size="pageSize"
                                       layout="total, sizes, prev, pager, next, jumper"
                                       :total="students.length">
                        </el-pagination>
                    </div>
                </template>


            </div>
            <!-- 新增方向弹层 -->
            <el-dialog title="新增学生" align="center" :visible.sync="dialogFormVisible" width="40%" top="8vh">
                <el-form label-width="120px" :model="student" :rules="rules" ref="student">

                    <el-form-item label="学号：" prop="stuId">
                        <el-input v-model="student.stuId" autocomplete="off"></el-input>
                    </el-form-item>

                    <el-form-item label="姓名：" prop="stuName">
                        <el-input v-model="student.stuName" autocomplete="off"></el-input>
                    </el-form-item>

                    <el-form-item label="性别：" prop="stuSex">
                        <el-select v-model="student.stuSex" placeholder="请选择">
                            <el-option
                                    v-for="item in baseData.sex"
                                    :key="item.value"
                                    :label="item.value"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="专业：" prop="major.id">
                        <el-select v-model="major.id" placeholder="请选择院系" @change="findMajor()">
                            <el-option
                                    v-for="item in stuDepts"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                        <el-select v-model="student.major.id" placeholder="请选择专业">
                            <el-option
                                    v-for="item in majors"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="班级：" prop="stuClass">
                        <el-input v-model="student.stuClass" autocomplete="off"></el-input>
                    </el-form-item>

                    <el-form-item label="宿舍：" prop="stuDorm">
                        <el-input v-model="student.stuDorm" autocomplete="off"></el-input>
                    </el-form-item>


                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="handleCreateCancel">取 消</el-button>
                    <el-button type="primary" @click="insert()">确 定</el-button>
                </div>
            </el-dialog>

            <el-dialog title="奖罚" align="center" :visible.sync="dialogFormVisible0" width="40%" top="8vh">
                <el-form label-width="120px" :model="awarePunish" :rules="rules" ref="awarePunish">
                    <el-form-item label="学号：" prop="stuId">
                        <el-input readonly v-model="awarePunish.student.stuId" autocomplete="off"></el-input>
                    </el-form-item>

                    <el-form-item label="姓名：" prop="stuName">
                        <el-input readonly v-model="awarePunish.student.stuName" autocomplete="off"></el-input>
                    </el-form-item>

                    <el-form-item label="奖罚：" prop="status">
                        <el-select v-model="awarePunish.status" placeholder="请选择">
                            <el-option
                                    v-for="item in baseData.AwarePunishStatus"
                                    :key="item.id"
                                    :label="item.value"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="处罚等级：" prop="levels">
                        <el-select v-model="awarePunish.levels" placeholder="奖励不用选择">
                            <el-option
                                    v-for="item in baseData.AwarePunishLevels"
                                    :key="item.value"
                                    :label="item.value"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="日期" prop="times">
                        <el-date-picker
                                value-format="yyyy-MM-dd"
                                v-model="awarePunish.times"
                                type="date"
                                placeholder="    选择日期"
                                :picker-options="pickerOptions"
                                style="line-height: 40px">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="具体描述：" prop="stuId">
                        <el-input v-model="awarePunish.description" autocomplete="off"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="handleCreateCancel0">取 消</el-button>
                    <el-button type="primary" @click="insertAwarePunish()">确 定</el-button>
                </div>
            </el-dialog>
            <!-- end -->
        </div>

    </div>
</div>
</body>
<!-- 引入组件库 -->

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/../js/vue.js}"></script>
<script th:src="@{/../js/element-ui.js}"></script>
<script th:src="@{/../js/base.js}"></script>
<script th:src="@{/../js/axios-0.18.0.js}"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                result:{
                    code:'',
                    message:'',
                },
                students:[],
                student: {
                    stuId:'',
                    stuName:'',
                    stuSex:'',
                    stuPassword:'',
                    stuNative:'',
                    stuBirthday:'',
                    major:{
                        id:'',
                        name:'',
                        dept_id:''
                    },
                    stuClass:'',
                    stuDorm:'',
                    politic:{
                        id:'',
                        name:''
                    },
                    nation:{
                        id:'',
                        name:''
                    },
                    stuIdcard:'',
                    stuAddress:'',
                    schoolRoll:{
                        id:'',
                        name:''
                    }
                },
                student0: {
                    stuId:'',
                    stuName:'',
                    stuSex:'',
                    stuPassword:'',
                    stuNative:'',
                    stuBirthday:'',
                    major:{
                        id:'',
                        name:'',
                        dept_id:''
                    },
                    stuClass:'',
                    stuDorm:'',
                    politic:{
                        id:'',
                        name:''
                    },
                    nation:{
                        id:'',
                        name:''
                    },
                    stuIdcard:'',
                    stuAddress:'',
                    schoolRoll:{
                        id:'',
                        name:''
                    }
                },
                studentnull: {
                    stuId:'',
                    stuName:'',
                    stuSex:'',
                    stuPassword:'',
                    stuNative:'',
                    stuBirthday:'',
                    major:{
                        id:'',
                        name:'',
                        dept_id:''
                    },
                    stuClass:'',
                    stuDorm:'',
                    politic:{
                        id:'',
                        name:''
                    },
                    nation:{
                        id:'',
                        name:''
                    },
                    stuIdcard:'',
                    stuAddress:'',
                    schoolRoll:{
                        id:'',
                        name:''
                    }
                },
                awarePunish:{
                    id:'',
                    student: {
                        stuId:'',
                        stuName:'',
                        stuSex:'',
                        stuPassword:'',
                        stuNative:'',
                        stuBirthday:'',
                        major:{
                            id:'',
                            name:'',
                            dept_id:''
                        },
                        stuClass:'',
                        stuDorm:'',
                        politic:{
                            id:'',
                            name:''
                        },
                        nation:{
                            id:'',
                            name:''
                        },
                        stuIdcard:'',
                        stuAddress:'',
                        schoolRoll:{
                            id:'',
                            name:''
                        }
                    },
                    levels:'',
                    description:'',
                    times:'',
                    status:'',
                    classroom:''
                },
                awarePunishNull:{
                    id:'',
                    student: {
                        stuId:'',
                        stuName:'',
                        stuSex:'',
                        stuPassword:'',
                        stuNative:'',
                        stuBirthday:'',
                        major:{
                            id:'',
                            name:'',
                            dept_id:''
                        },
                        stuClass:'',
                        stuDorm:'',
                        politic:{
                            id:'',
                            name:''
                        },
                        nation:{
                            id:'',
                            name:''
                        },
                        stuIdcard:'',
                        stuAddress:'',
                        schoolRoll:{
                            id:'',
                            name:''
                        }
                    },
                    levels:'',
                    description:'',
                    times:'',
                    status:'',
                    classroom:''
                },
                currentPage: 1, // 当前页码
                total: 20, // 总条数
                pageSize: 5,// 每页的数据条数

                tableKey: 0,
                pagination: {
                    total: 0,
                    pageNum: 1,
                    pageSize: 10
                },

                loading: false,
                items: [],
                baseData: base,
                dialogFormVisible: false,
                dialogFormVisible0: false,
                form: {
                    dirName: ''
                },

                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();
                    },
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                },
                value1: '',
                value2: '',
                file:[],
                stuDepts:[],
                major:{},
                majors:[],
                rules: {

                }

            }
        },

        methods: {

            insertAwarePunish:function (){
                alert(this.awarePunish.times)
                axios.post("/awarePunish/insert",this.awarePunish).then(response =>{
                    this.$message.success(response.data.message);
                    this.awarePunish=this.awarePunishNull;

                }).catch(error =>{
                    console.dir(error)
                })
                this.dialogFormVisible0 = false;

            },
            //查询全部方法
            findAll: function () {
                axios.get("/student/list").then(response => {
                    this.currentPage=1;
                    this.students = response.data;
                }).catch(error => {
                    console.dir(error);
                });
            },
            findByLike: function(){
                axios.post("/student/findByLike",this.student0).then(response =>{
                    this.currentPage=1;
                    this.students = response.data;
                }).catch(error =>{
                    console.dir(error)
                })
            },
            findDept:function (){
                axios.post("/major/findByDept").then(response =>{
                    this.stuDepts = response.data;
                }).catch(error =>{
                    console.dir(error)
                })
            },
            findMajor:function (){
                axios.post("/major/findMajor",this.major).then(response =>{
                    this.majors = response.data;
                }).catch(error =>{
                    console.dir(error)
                })
            },
            insert:function (){
                axios.post("/student/insert",this.student).then(response =>{
                    this.$message.success(response.data.message);
                    this.findAll();
                    this.student=this.studentnull;
                    this.major.id='';
                }).catch(error =>{
                    console.dir(error)
                })
                this.dialogFormVisible = false;

            },


            /*------------------------*/
            //Enter键查询
            handleFilter() {
                this.getList()
            },
            //清除
            handleRest() {
                this.student0 = {}
            },
            //搜索
            handleSearch() {
                this.getList();
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.currentPage = 1;
                this.pageSize = val;
            },
            //当前页改变时触发 跳转其他页
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val;
            },
            // 新增
            handleCreate() {
                this.findDept();
                this.dialogFormVisible = true;
            },
            // 新增
            handleCreate0(row) {
                this.awarePunish.student.stuId=row.stuId;
                this.awarePunish.student.stuName=row.stuName;
                this.dialogFormVisible0 = true;
            },

            //新增取消
            handleCreateCancel() {
                this.student=this.studentnull;
                this.dialogFormVisible = false;
            },
            //新增取消
            handleCreateCancel0() {
                this.dialogFormVisible0 = false;
                this.awarePunish=this.awarePunishNull;
            },

            // 删除
            handleDeleted(row) {
                this.$confirm('此操作将永久删除方向 ' + ', 是否继续?', '提示', {
                    type: 'warning'
                }).then(() => {
                    var t = this;
                }).catch(() => {
                    this.$message.info('已取消操作!')
                });
            },

            selectOne:function(row) {
                window.location.href="contactInfo.html?id="+row.contract_id;
            }
        },

        mounted: function () {
            //挂载完成后，调用查询全部的方法
            this.findAll();

        }
    })
</script>
</html>
