<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>学生信息</title>
    <meta name="description" content="学生信息">
    <meta name="keywords" content="学生信息">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/../plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/../css/style.css}">
</head>

<body class="hold-transition">
<div id="app">
    <div class="content-header common-search-border1">
        <h2 class="titleInfo"><span>奖罚列表</span></h2>

    </div>
    <div class="app-container">
        <div class="box common-search-border2">
            <div class="filter-container">
                <!-- 搜索栏 -->
<!--
                <el-form :inline="true" :model="awarePunish" ref="awarePunish" class="formInfo" label-width="70px">

                    <el-form-item label="学号："  prop="student">
                        <el-input placeholder="请输入" v-model="awarePunish.student.stuId" style="width: 120px;"
                                  class="filter-item"></el-input>
                    </el-form-item>

                    <el-form-item label="班级："  prop="classroom">
                        <el-input placeholder="请输入" v-model="awarePunish.classroom" style="width: 120px;"
                                  class="filter-item"></el-input>
                    </el-form-item>

                    <el-form-item label="奖罚：" >
                        <el-select style="width: 120px" placeholder="请选择" v-model="awarePunish.status">
                            <el-option :key="item.id"
                                       :label="item.value"
                                       style="width: 80px"
                                       :value="item.value"
                                       v-for="item in baseData.AwarePunishStatus">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="处罚等级：" label-width="100px" >
                        <el-select style="width: 120px" placeholder="请选择" v-model="awarePunish.levels">
                            <el-option :key="item.id"
                                       :label="item.value"
                                       style="width: 100px"
                                       :value="item.id"
                                       v-for="item in baseData.total">
                            </el-option>
                        </el-select>
                    </el-form-item>
                   <el-form-item label="日期" label-width="40px">
                        <el-date-picker
                                style="width: 120px"
                                value-format="yyyy-MM-dd"
                                v-model="awarePunish.times"
                                type="date"
                                placeholder="    选择日期"
                                :picker-options="pickerOptions"
                                >
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item>
                        <el-button @click="handleRest">清除</el-button>
                        <el-button type="primary" class="butOK" @click="findByLike()">搜索</el-button>
                    </el-form-item>
                </el-form>
-->
            </div>
        </div>

        <div class="box common-table-border" style="margin:8px 0 0;">
            <div class="box common-table-border" style="margin:8px 0 0;">

                <template>
                    <el-table
                            :data="variations.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                            style="width: 100%">

                        <el-table-column
                                width="80"
                                prop="student.stuId"
                                label="学号">
                        </el-table-column>
                        <el-table-column
                                width="80"
                                prop="student.stuName"
                                label="姓名">
                        </el-table-column>
                        <el-table-column
                                width="100"
                                prop="time"
                                label="时间">
                        </el-table-column>

                        <el-table-column
                                width="400"
                                prop="description"
                                label="描述">
                        </el-table-column>

                        <el-table-column width="150">
                            <!--<template slot-scope="scope">
                                <el-button type="primary" round @click="delete0(scope.row)">删除</el-button>
                            </template>-->
                        </el-table-column>


                    </el-table>
                    <!-- 分页器 -->
                    <div class="block" style="margin-top:15px;">
                        <el-pagination align='center' @size-change="handleSizeChange"
                                       @current-change="handleCurrentChange"
                                       :current-page="currentPage"
                                       :page-sizes="[1,5,10,20]"
                                       :page-size="pageSize"
                                       layout="total, sizes, prev, pager, next, jumper"
                                       :total="variations.length">
                        </el-pagination>
                    </div>
                </template>


            </div>

            <!-- end -->
        </div>

    </div>
</div>
</body>
<!-- 引入组件库 -->

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/../js/vue.js}"></script>
<script th:src="@{/../js/element-ui.js}"></script>
<script th:src="@{/../js/base.js}"></script>
<script th:src="@{/../js/axios-0.18.0.js}"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                result: {
                    code: '',
                    message: '',
                },
                variations:[],
                baseData: base,
                currentPage: 1, // 当前页码
                total: 20, // 总条数
                pageSize: 5,// 每页的数据条数

                tableKey: 0,
                pagination: {
                    total: 0,
                    pageNum: 1,
                    pageSize: 10
                },
                loading: false,
                dialogFormVisible: false,
                rules: {},
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();
                    },
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                },

            }
        },

        methods: {

            //查询全部方法
            findAll: function () {
                axios.get("/variation/findAll").then(response => {
                    this.currentPage = 1;
                    this.variations = response.data;
                }).catch(error => {
                    console.dir(error);
                });
            },


            /*------------------------*/

            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.currentPage = 1;
                this.pageSize = val;
            },
            //当前页改变时触发 跳转其他页
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val;
            },
            //清除
            handleRest() {
                this.awarePunish= this.awarePunishNull;
            },



        },

        mounted: function () {
            //挂载完成后，调用查询全部的方法
            this.findAll();
        }
    })
</script>
</html>
