<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>I'm you Father</title>
    <link rel="stylesheet" th:href="@{/element-ui/lib/theme-chalk/index.css}">
    <style>
        body{
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            /*background-color: #CCCCCC;*/
        }

    </style>
</head>
<body>
<div id="app">
    <el-container style="height: 100%; ">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246);opacity:0.9">
            <el-menu :default-openeds="['1', '3']">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-menu"></i>座位选择</template>
                    <el-menu-item-group>
                        <el-submenu index="1-1">
                            <template slot="title">1L</template>
                            <el-menu-item index="1-1-1">教室101</el-menu-item>
                            <el-menu-item index="1-1-2">教室102</el-menu-item>
                            <el-menu-item index="1-1-3">教室103</el-menu-item>
                        </el-submenu>
                        <el-submenu index="1-2">
                            <template slot="title">2L</template>
                            <el-menu-item index="1-2-1">教室201</el-menu-item>
                            <el-menu-item index="1-2-2">教室202</el-menu-item>
                            <el-menu-item index="1-2-3">教室203</el-menu-item>
                        </el-submenu>
                        <el-submenu index="1-3">
                            <template slot="title">3L</template>
                            <el-menu-item index="1-3-1">教室301</el-menu-item>
                            <el-menu-item index="1-3-2">教室302</el-menu-item>
                            <el-menu-item index="1-3-3">教室303</el-menu-item>
                        </el-submenu>
                    </el-menu-item-group>

                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>管理员页面</template>
                    <el-submenu index="2-1">
                        <template slot="title">教室管理</template>
                        <el-menu-item index="2-1-1">查看与禁用</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title"><i class="el-icon-menu"></i>其它</template>
                    <el-submenu index="3-1">
                        <template slot="title">校历</template>
                        <el-menu-item index="3-1-1">本年校历</el-menu-item>
                    </el-submenu>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container >
            <el-header style="text-align: left; font-size: 20px;color: black">
<!--                <el-dropdown>-->
<!--                    <i class="el-icon-setting" style="margin-right: 15px"></i>-->
<!--                    <el-dropdown-menu slot="dropdown">-->
<!--                        <el-dropdown-item>查看</el-dropdown-item>-->
<!--                        <el-dropdown-item>新增</el-dropdown-item>-->
<!--                        <el-dropdown-item>删除</el-dropdown-item>-->
<!--                    </el-dropdown-menu>-->
<!--                </el-dropdown>-->
                <span>王小虎</span>
            </el-header>
<!--        </el-container>-->

<!--        <el-container>-->
            <el-main>
                <el-table :data="tableData" style="opacity:0.9;margin-top: 0">
                    <el-table-column prop="date" label="日期" width="140">
                    </el-table-column>
                    <el-table-column prop="name" label="姓名" width="120">
                    </el-table-column>
                    <el-table-column prop="address" label="地址">
                    </el-table-column>
                </el-table>
            </el-main>
            <el-footer>Footer</el-footer>
        </el-container>
    </el-container>
</div>
<script  th:src="@{/static/resource/js/vue.min.js}"></script>
<script th:src="@{/element-ui/lib/index.js}"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            const item = {
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            };
            return {
                visible: false,
                value: '',
                isCollapse: true,
                tableData: Array(20).fill(item)
            }

        },

        created() {

         },
         methods: {

            }

        })


</script>


</body>
</html>