<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--jquery-->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
    <!--bootstrap-->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="javascript:void(0);" onclick="show()" class="btn btn-primary">添加</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-lg-offset-2">
            <table class="table">
                <tr>
                    <th>学生编号</th>
                    <th>学生姓名</th>
                    <th>出生日期</th>
                    <th>性别</th>
                    <th>操作</th>
                </tr>
                <tr th:each="stu:${students}">
                    <td th:text="${stu.student_no}"></td>
                    <td th:text="${stu.student_name}"></td>
                    <td th:text="${#calendars.format(stu.student_borndate,'yyyy-MM-dd')}"></td>
                    <td th:text="${stu.student_gender eq 0?'女':'男'}"></td>
                    <td>
                        <a th:href="@{/deleteById(studentNO=${stu.student_no})}" class="btn btn-primary">删除</a>
                        <a class="btn btn-primary del_btn">详情</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



</body>
</html>